[submodule "extern/EzPC"]
	path = extern/EzPC
	url = https://github.com/mpc-msri/EzPC.git
[submodule "extern/BatchPIR"]
	path = extern/BatchPIR
	url = https://github.com/timzsu/LUT-PIRANA.git
[submodule "extern/SEAL"]
	path = extern/SEAL
	url = https://github.com/microsoft/SEAL.git
[submodule "extern/libOTe"]
	path = extern/libOTe
	url = git@github.com:osu-crypto/libOTe.git
[submodule "extern/fmt"]
	path = extern/fmt
	url = git@github.com:fmtlib/fmt.git
